
<h2 align='center' ><i>COOPERSYSTEM</i></h2>
<h3 align='center'><i>Acompanhe o seu lote ou estoque em conjunto com a sua cooperativa</i></h3>
&nbsp; 


<img src="http://s3.amazonaws.com/cooper1/quimico.jpeg"/> 
	<h4 align='center'>Contacte-nos através do telefone:55-11-9-8384-6364</h4> 

